.all-products {
	display: flex;
	align-items: flex-start;
}

.all-products .side-bar {
	/* background-color: green; */

	display: flex;
	flex-direction: column;
}

.shoppu-container {
	padding-left: 300px;
	/* background-color: red; */
	max-width: 80%;
}
