.wrapper .footer-top {
	background-color: var(--light-blue);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 72px 0;
	color: #fff;
}

.wrapper .footer-top h3 {
	font-size: 1.5rem;
	font-weight: 600;
}

.wrapper .footer-top p {
	font-size: 0.7rem;
	font-weight: 400;
}

.wrapper .footer-top .subscribe {
	position: relative;
	height: 50px;
}
.wrapper .footer-top .subscribe input {
	width: 600px;
	height: 100%;
	border: none;
	padding: 1rem 12.5rem 1rem 1rem;
	outline: none;
}

.wrapper .footer-top .subscribe button {
	padding: 0.5rem 2rem;
	position: absolute;
	transform: translate(-165px, 10%);
	background-color: var(--deep-blue);
	border-radius: 0;
}

.wrapper .footer-bottom {
	background-color: var(--gray-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	/* gap: 2.5rem; */
	color: #fff;
	padding: 5rem 4.5rem;
}

.wrapper .footer-bottom .footer-bottom-left .logo-name {
	font-weight: 700;
	font-size: 2rem;
}

.wrapper .footer-bottom .footer-bottom-left .navbar-logo {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.wrapper .footer-bottom .footer-bottom-center {
	display: flex;
	flex-direction: column;
}

.wrapper .footer-bottom .footer-bottom-center .links {
	display: flex;
	gap: 1rem;
}

.wrapper .footer-bottom .footer-bottom-right .download-card {
	background-color: var(--dark-color);
	display: flex;
	/* align-items: center; */
	justify-content: space-between;
	/* padding: 1rem 1.2rem; */
	margin-top: 1rem;
	border-radius: 3px;
}

/* .wrapper .footer-bottom-right .download-card .text {
	line-height: 13px;
} */

.wrapper .footer-bottom-right .download-card .app-store {
	font-size: 14px;
	font-weight: 600;
}
.wrapper .footer-bottom-right .download-card .get-now {
	font-weight: 400;
	font-size: 11px;
}

@media (max-width: 860px) {
	.wrapper .footer-bottom .footer-bottom-right {
		order: 1;
	}

	.wrapper .footer-bottom .footer-bottom-center {
		order: 2;
	}
}

@media (max-width: 630px) {
	.wrapper .subscribe input {
		width: 400px;
		padding-right: 12rem;
	}

	.wrapper .footer-bottom {
		padding: 4.5rem;
	}
}

@media (max-width: 460px) {
	.wrapper .subscribe input {
		width: 280px;
		padding-right: 7rem;
	}

	.wrapper .subscribe button {
		padding: 0.45rem;
		transform: translate(-100px, 10%);
	}
}
