.gallery {
	margin: 3.5rem auto;
	font-family: "Public sans" sans-serif;
}

.heading-text {
	text-align: center;
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 2.2rem;
}

.shopping-item-array {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
	margin: 3.5rem auto;
	padding: 0 1rem 2rem 1rem;
	flex-wrap: wrap;
	align-content: center;
}

.shopping-item-array::-webkit-scrollbar,
.bandages::-webkit-scrollbar {
	height: 3px;
	/* background-color: red; */
	width: 5rem;
}
.shopping-item-array::-webkit-scrollbar-track,
.bandages::-webkit-scrollbar-track {
	/* background-color: green; */
	max-width: 5rem;
}
.shopping-item-array::-webkit-scrollbar-thumb,
.bandages::-webkit-scrollbar-thumb {
	max-width: 5rem;
	background-color: rgba(0, 81, 128, 0.534);
	border-radius: 4px;
}

.shopping-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	font-weight: 500;
	font-size: 1rem;
	border: 1px solid #37474f6a;
	border-radius: 0.3rem;
	padding: 1.7rem 1rem;
	/* scroll-snap-align: center; */
}

.shopping-item img {
	object-fit: contain;
	aspect-ratio: 4/3;
	/* mix-blend-mode: color; */
	/* width: 100%; */
}

.bandage-links div,
.view-all {
	text-align: right;
	font-weight: 700;
	font-size: 14px;
	padding-right: 4.5rem;
	margin-bottom: 2rem;
}

.bandage-links .browse-all a,
.view-all a {
	color: var(--light-blue);
	text-decoration: none;
}

.bandage-links .browse-all .arrow,
.view-all .arrow {
	position: relative;
}

.bandage-links .browse-all svg,
.view-all svg {
	margin-left: 10px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.view-all {
	margin-top: 2rem;
}

.bandage-links ul {
	display: flex;
	gap: 1.5rem;
	justify-content: center;
	margin-bottom: 2.5rem;
}

.bandage-links ul li {
	list-style-type: none;
}

.bandage-links ul li a {
	text-decoration: none;
	color: var(--lightest-gray);
}

.bandage-links ul li a::before {
	content: "";
	width: 100%;
	height: 100%;
	background-color: red;
}

.gallery .bandages {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100vw;
}

.gallery .bandages .bandage-items {
	width: 90%;
	display: flex;
	gap: 1.5rem;
	align-items: center;
	overflow-x: scroll;
}

.gallery .bandage-tray {
	display: flex;
	flex-direction: column;
}

@media (max-width: 760px) {
	.shopping-item-array {
		max-width: 300px;
		margin: 2rem auto;
		/* background-color: red; */
	}
	.shopping-item {
		min-width: 100px;
	}
}
